$primary-main: #115740;
$primary-light: #1C916B;
$secondary-main: #B58500;
$secondary-light: rgba(181, 133, 0, 0.15);

$error-main: #C8102E;

$bg-dark: #E5E5E5;
$bg-main: #EEF1F0;
$bg-light: #F9FAFA;

$contrast: #fff;

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: $primary-main;
  justify-content: space-between;

  &__title {
    color: $contrast;
    white-space: nowrap;
  }

  &__logo_wrapper {
    display: flex;
    align-items: center;
  }

  @media(max-width: 550px) {
    &__title {
      display: none;
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $contrast;  
  min-height: 50px;
  flex: 0 0 auto;
  background-color: $primary-main;
}

.statistic {
  display: flex;

  &__coin {
    border-radius: 5px;
    margin: 0 10px;
    padding: 5px;
    white-space: nowrap;
    color: $contrast;
    background-color: $secondary-main;
  }

  @media(max-width: 900px) {
    // display: none;
    flex-direction: column;
    &__coin {
      margin: 5px 0;
    }
  }
}

.loader {
  border: 10px solid $bg-main;
  border-top: 10px solid $primary-main;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

.button {
  display: inline-block;
  background-color: $primary-main;
  border: none;
  color: $contrast;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.add-button {
  display: inline-block;
  background-color: $primary-main;
  border: none;
  border-radius: 20px;
  color: $contrast;
  padding: 5px 9px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-weight: bolder;

  @media (max-width: 500px) {
    font-size: 10px;
    padding: 5px 8px;
  }
}

.modal {
  &__container {
    position: relative;
    border-radius: 5px;
    background-color: $primary-main;
    padding: 24px;
    box-sizing: border-box;
    min-width: 500px;
  }

  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
  }
  &__content {
    display: flex;
    justify-content: center;
    margin: 10px;
  }
  &__title {
    display: flex;
    justify-content: center;
    color: $contrast;
  }

  @media(max-width: 760px) {
    &__container {
      min-width: 300px;
    }
  }
}

.snackbar {
  display: flex;
  background-color: $secondary-main;
  flex-direction: row;
  align-items: center;
  min-width: 250px;
  justify-content: center;
  color: $contrast;
  text-align: center;
  z-index: 10;
  // border-radius: ${({ theme }) => theme.spacing.radius}px;
  padding: 10px 40px;
    // ${({ theme }) => theme.spacing.standard * 2}px;
  position: fixed;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 30px;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;

  @keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }
    to {
      bottom: 30px;
      opacity: 1;
    }
  }

  @keyframes fadeout {
    from {
      bottom: 30px;
      opacity: 1;
    }
    to {
      bottom: 0;
      opacity: 0;
    }
  }

  &__content {
    font-size: 14px;
    display: flex;
    align-items: center;
  }

  &__title {
    font-size: 22px;
    font-weight: bold;
    margin-right: 10px;
  }
}

.table {
  -webkit-box-shadow: 0px 0px 31px 12px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 0px 31px 12px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 0px 31px 12px rgba(0, 0, 0, 0.14);
  table-layout: fixed;
  border-collapse: collapse;

  &__head {
    &_row {
      white-space: nowrap;
    }

    &_column {
      // padding-top: 12px;
      // padding-bottom: 12px;
      // text-align: center;
      background-color: $primary-main;
      color: $contrast;
      border: 1px solid $contrast;
      padding: 8px;
    }
  }

  &__body {
    &_row {
      text-align: center;
      white-space: nowrap;
    }

    &_row:nth-child(even) {
      background-color: $bg-dark;
    }

    &_column {
      // display: table-cell;
      vertical-align: inherit;
      border: 1px solid $contrast;
      padding: 8px;
    }
    
    &_coin {
      display: flex;
      align-items: center;
    }

    @media (max-width: 500px) {
      &_column {
        padding: 8px 4px;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__pagination {
    display: flex;
    margin: 10px 0 0 0;
  }

  &__page-index {
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 31px 12px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 0px 31px 12px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 0px 31px 12px rgba(0, 0, 0, 0.14);

    color: $contrast;
    display: inline-block;
    text-align: center;
    margin: 3px;
    padding: 3px 5px;
    background-color: $primary-main;
    min-width: 20px;
    
    &_active {
      background-color: $secondary-main;
    }
  }

  &__img {
    height: 20px;
    padding: 0 5px;
  }

  &__down {
    color: $error-main;
  }

  &__up {
    color: $primary-light
  }

  @media (max-width: 500px) {
    &__wrapper {
      width: 100%;
    }
    // width: 100%;
    flex-grow: 1;
    &__hide {
      display: none;
    }
  }
}

.coin-calculator {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}

.cross {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-size: 40px;
  color: $contrast;
}

.input {
  width: 300px;
  background-color: $primary-light;
  border: none;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  color: $contrast;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    color: $contrast;
  }

  :focus {
    border: 1px solid #000000;
    outline: none;
  }

  :hover {
    border: 1px solid #000000;
    outline: none;
  }

  :active {
    border: 1px solid #000000;
    outline: none;
  }
} 

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

.chart {
  &__wrapper {
    width: 100%;
    height: 400px;
  }

  // @
}