.logo {
  display: inline-block;
  margin: 10px;

  :hover {
    cursor: pointer;
  }
}

.portfolio {
  display: inline-block;
  // position: absolute;
  margin: 10px 60px 10px 0;
  // right: 0;

  :hover {
    cursor: pointer;
  }

  @media (max-width: 400px) {
    margin: 10px;
  }
}