$contrast: #fff;
$primary-light: #1C916B;
$error-main: #C8102E;
$secondary-main: #B58500;

.logo {
  display: inline-block;
  margin: 10px;

  :hover {
    cursor: pointer;
  }
}

.trash {
  :hover {
    cursor: pointer;
  }
}

.portfolio {
  display: inline-block;
  position: relative;
  margin: 10px 20px 10px 0;

  &__cost {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    right: -20px;
    font-size: 12px;
    bottom: -10px;
    position: absolute;
    background-color: $secondary-main;
    white-space: nowrap;
    color: $contrast;
    padding: 5px;
  }

  &__down {
    color: $error-main;
  }

  &__up {
    color: $primary-light
  }

  :hover {
    cursor: pointer;
  }
}

.triangle {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    margin: 0 10px 0 0;
  }

  :hover {
    cursor: pointer;
  }

  &__down {
    transform: scale(1, -1);
  }
}